.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.calculator {
  max-width: 40%;
  width: 100%;
  height: 100%;
}

.screen,
.button-row {
  height: 16.667%;
}

.screen {
  background-color: #858694;
  text-align: end;
  width: 100%;
}

button.grey,
.orange {
  width: 25%;
  height: 100%;
  text-align: center;
  padding: 10px;
  font-size: 25px;
  font-weight: bold;
  border-color: #d1d1d1;
}

button.grey {
  background-color: lightgray;
}

button.orange {
  background-color: #ec903c;
}

button.grey-large {
  background-color: lightgray;
  width: 50%;
  height: 100%;
  text-align: center;
  padding: 10px;
  font-size: 25px;
  font-weight: bold;
  border-color: #d1d1d1;
}

h2.output {
  color: white;
  margin-bottom: 0;
  margin-right: 5px;
  font-size: 32px;
}

.topbar {
  display: flex;
  justify-content: space-between;
}

.page-info,
.quote {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1.website-title {
  font-size: 32px;
}

h1.page-info {
  font-size: 24px;
}
